* {
	font-family: Sans-Serif;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

body{
  background-color: #100F14;
  /* 100F14 */
  color: #FCFCFC;
  font-size: 18px;
}
.text-second {
  color: #7E8086;
}

[data-span] {
 
 min-width: 40px;
 display: flex;
  justify-content: center;
/*
  width: 20px;
  display: inline-flex;
  justify-content: center;
  */
  
}
[data-pos-point], [data-neg-point] {
  display: flex;
}

input {
  width: 40px;
  
}


[data-procent] {
  font-size: 24px;
  font-weight: 500;
}

[data-profit] {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  
  
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: #1D1C22;
}
button, select {
  all: unset;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #1D1C22;
}

.name {
  font-size: 18px;
  font-weight: 600;
}


[data-pos-point] [data-span] {
  color: #20B16B;
}
[data-neg-point] [data-span] {
  color: #EF4449;
}

